tr:nth-child(even) {
    background-color: $dark-11;
}

td, th{
    border-left : hidden !important;
    border-right : hidden !important;
}

th{
    border-top: hidden;
}
.year-column{
    width: 10%;
}

.title-column{
    width: 35%;
}

.genre-column{
    width: 10%;
}

.artist-column{
    width: 35%;
}

.button-column{
    width: 10%;
}

.table{
    table-layout: fixed;
}