tr:nth-child(even) {
    background-color: $dark-11;
}

td, th{
    border-left : hidden !important;
    border-right : hidden !important;
}

.table{
    border-left : hidden;
    border-right : hidden;
}