.app-header {
  background-color: $dark-2;
  color: white;
  height: 50px;
  width: 100%;
}

.app-header > div {
  font-weight: 300;
}

.header-text {
  font-size: 22px;
  font-family: "Avenir Next";
  font-weight: 300;
  margin-top: 15.8px;
}

.app-logo.icon {
  float: left;
  height: 21px;
  margin-left: 10%;
  padding: 15px 0;
  width: 21px;
}

.app-logo .icon-react {
  fill: white;
  font-size: 24px;
}