.app-body > h3 {
    color: $dark-2;
    margin-top: 30px;
    padding-bottom: 30px;
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 26px;
}

.app-body {
    margin-left: 120px;
    margin-right: 120px;
    font-family: "Avenir Next";
    font-weight: 300;
}
