.app {
    text-align: left;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.app-logo.icon {
    float: left;
    height: 21px;
    margin-left: 10%;
    padding: 15px 0;
    width: 21px;
}

.app-logo .icon-react {
    fill: white;
    font-size: 24px;
}

/*header styling*/

.app-header {
    background-color: #243641;
    color: white;
    font-size: 12px;
    font-family: "Avenir Next";
    font-weight: 100;
    height: 50px;
    width: 100%;
}

.app-header > h2 {
    font-weight: 300;
}

h3 {
    color: #243641;
    margin-top: 50px;
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 26px;
}

.app-body {
    margin-left: 120px;
    margin-right: 120px;
    font-family: "Avenir Next";
    font-weight: 300;
}

tr:nth-child(even) {
    background-color: #F5F6F7;
}

td, th{
    border-left : hidden !important;
    border-right : hidden !important;
}

div {
    display: inline-block;
}

body {
    background-color: #C5CED3;
}